# Cloudflare Tunnel
CLOUDFLARED_TOKEN=

# Restic
RESTIC_REPOSITORY=s3:s3.eu-central-003.backblazeb2.com/bucket-name/path
RESTIC_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Backup paths
BACKUP_SOURCE=/srv/data
RESTIC_CACHE_DIR=/srv/data/restic-cache

# Voiceboard
VOICEBOARD_DATABASE_URL=database-url
VOICEBOARD_DEEPGRAM_API_KEY=deepgram-api-key
VOICEBOARD_GROQ_API_KEY=groq-api-key
VOICEBOARD_SUPABASE_URL=supabase-url

# Beszel
BESZEL_AGENT_TOKEN=

# n8n
N8N_POSTGRES_USER=changeUser
N8N_POSTGRES_PASSWORD=changePassword
N8N_POSTGRES_DB=n8n

N8N_POSTGRES_NON_ROOT_USER=changeUser
N8N_POSTGRES_NON_ROOT_PASSWORD=changePassword

N8N_RUNNERS_AUTH_TOKEN=changeRunnerAuthToken

# Dawarich
DAWARICH_RAILS_ENV=production
DAWARICH_POSTGRES_USER=postgres
DAWARICH_POSTGRES_PASSWORD=password
DAWARICH_POSTGRES_DB=dawarich_production
DAWARICH_DATABASE_HOST=dawarich_db
DAWARICH_DATABASE_PORT=5432
DAWARICH_REDIS_URL=redis://dawarich_redis:6379
DAWARICH_APP_PORT=3000
DAWARICH_APPLICATION_HOSTS=dawarich.example.com,localhost,::1,
DAWARICH_APPLICATION_PROTOCOL=https
DAWARICH_TIME_ZONE=Europe/Oslo
DAWARICH_SELF_HOSTED=true
DAWARICH_STORE_GEODATA=true
DAWARICH_STORAGE_BACKEND=local
DAWARICH_SECRET_KEY_BASE=
DAWARICH_BACKGROUND_PROCESSING_CONCURRENCY=10
DAWARICH_PROMETHEUS_EXPORTER_ENABLED=true
DAWARICH_RAILS_LOG_TO_STDOUT=true
DAWARICH_LOG_MAX_SIZE=100m
DAWARICH_LOG_MAX_FILE=5
DAWARICH_APP_CPU_LIMIT=0.50
DAWARICH_APP_MEMORY_LIMIT=4G