{
	email off
	auto_https off
}

http://excalidraw.halvorteigen.no {
	reverse_proxy excalidraw:80
}

http://dozzle.halvorteigen.no {
	reverse_proxy dozzle:8080
}

http://vinlotteri.halvorteigen.no {
	reverse_proxy winelottery:80
}

http://portainer.halvorteigen.no {
	reverse_proxy portainer:9000
}
