{
	email off
	auto_https off
}

http://excalidraw.halvorteigen.no {
	reverse_proxy excalidraw:80
}

http://dozzle.halvorteigen.no {
	reverse_proxy dozzle:8080
}

http://vinlotteri.halvorteigen.no {
	reverse_proxy winelottery:80
}

http://portainer.halvorteigen.no {
	reverse_proxy portainer:9000
}

http://nocobase.halvorteigen.no {
	reverse_proxy nocobase:80
}

http://homepage.halvorteigen.no {
	reverse_proxy homepage:3000
}

http://voiceboard.halvorteigen.no {
	reverse_proxy voiceboard:8080
}